body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
}

canvas {
  position: relative;
  width: 144vmin;
  height: 144vmin;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  cursor: none;
  background-color: black;
}

.game-info {
  position: absolute;
  top: 20;
  left: 20;
  z-index: 999;
}

.bar {
  width: 100px;
  display: flex;
  align-content: center;
  margin-top: 20px;
  color: white;
  justify-content: left;
}

.bar div {
  margin-left: 10px;
  font-weight: bold;
  align-self: center;
}